bin/Debug/netcoreapp3.1/ToolLoan.deps.json
bin/Debug/netcoreapp3.1/ToolLoan.dll
bin/Debug/netcoreapp3.1/ToolLoan.exe
bin/Debug/netcoreapp3.1/ToolLoan.pdb
bin/Debug/netcoreapp3.1/ToolLoan.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ToolLoan.runtimeconfig.json
obj/project.assets.json
obj/ToolLoan.csproj.nuget.cache
obj/ToolLoan.csproj.nuget.dgspec.json
obj/ToolLoan.csproj.nuget.g.props
obj/ToolLoan.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/ToolLoan.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/ToolLoan.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ToolLoan.assets.cache
obj/Debug/netcoreapp3.1/ToolLoan.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ToolLoan.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ToolLoan.dll
obj/Debug/netcoreapp3.1/ToolLoan.exe
obj/Debug/netcoreapp3.1/ToolLoan.pdb
ToolLoan.csproj
